*{ 
    box-sizing:border-box;
}

@font-face {
    font-family: 'Satisfy';
    src: url('fonts\Oswald-Regular.ttf')
}

[wm-flappy]{
    position:relative;
    border:5px solid dodgerblue;
    height:500px;
    width:1200px;
    margin:15px;
    background-color: deepskyblue;
    overflow: hidden; 

}
.bird{
    position:absolute;
    width:60px;
    left:30px;
    bottom:50%;
}

.parents{
    position:absolute;
    top:0;
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}

.father{
    display: flex;
    flex-direction:column;
    align-items: center;
}
.mother{
    display:flex;
    flex-direction:column;
    align-items:center;
}

.father .mother .theirbody{
    height:150px;
    width:110px;
    background: linear-gradient(80deg,#639301,#A5E82E);
    border-left: 2px solid #000;
    border-right: 2px solid #000;
}

.progress {
    position: absolute;
    top:10px;
    right: 10px;
    font-family: "Oswald";
}