*{ 
    box-sizing:border-box;
}

@font-face {
    font-family: 'Satisfy';
    src: url('fonts\Oswald-Regular.ttf')
}

.background {
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    height:100%;
    background-color: blue;
}
[wm-flappy]{
    position:relative;
    border:5px solid dodgerblue;
    height:500px;
    width:1200px;
    margin:15px;
    background-color: green;
    overflow: hidden; 
}

.content {
    background-color: dodgerblue;
}

.nephew{
    position:absolute;
    width:60px;
    left:30px;
    bottom:50%;
}

.parents{
    position:absolute;
    top:0;
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}

.father{
    display: flex;
    flex-direction:column;
    align-items: center;
}
.mother{
    display:flex;
    flex-direction:column;
    align-items:center;
}

.fatherbody{
    position:relative;
    height:50px;
    width:50px;
    background-color:yellow;
    border-left: 2px solid #000;
    border-right: 2px solid #000;
}
.motherbody{
    position:relative;
    height:50px;
    width:50px;
    background-color: green;
    border-left: 2px solid white;
    border-right: 2px solid white;
}

.progress {
    position: absolute;
    top:10px;
    right: 10px;
    font-family: "Oswald";
}